<h1>On tweet pour toi !</h1>


<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
          <%= form_for @tweet do |f| %>
          <p>
             <%= f.text_field :content %>
           </p>

           <p>
             <%= f.submit 'Twitter', class: "success button" %>
           </p>
             <% end %>
      </div>
    </div>
  </div>
</form>
